<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
</head>
<body>
    {% extends 'dictionary_app/base.html' %}

    {% block content %}

        <h1>Dictionary</h1>
        <ul>
            {% for word in words %}
            <li>
                <a href="{% url 'viewword' word.id %}">
                    {{ word.word }} - {{ word.translation }}
                </a>
            </li>
            {% endfor %}
        </ul>

    {% endblock %}
</body>
</html>