<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>
    <h2>Valera was written {{ blogs.count }} state{{ blogs.count|pluralize }}</h2>

    {% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a>
    <br>
    {{ blog.date|date:'M d Y' }}
    <br>
    {{ blog.text|truncatechars:10 }}
    <br>
    {% endfor %}

</body>
</html>